nav ul li {
  list-style-type: none;
  display: inline-block; }
  nav ul li a {
    color: black;
    background: white;
    text-decoration: none; }
    nav ul li a.active {
      background-color: black;
      color: white; }

nav .submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0; }

nav .submenu-trigger:hover .submenu {
  display: block; }

header {
  text-align: center; }
  header h1 {
    display: inline; }
  header h2 {
    display: inline; }
