flake8==3.0.4
Jinja2==2.8
linecache2==1.0.0
Markdown==2.6.7
MarkupSafe==0.23
mccabe==0.5.2
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.3
six==1.10.0
traceback2==1.4.0
unittest2==1.1.0
-e git+git@github.com:xassbit/zorn.git@8cbc487089b6b21edd33f1cc434b1bdc87569a0a#egg=zorn
