.main-content {
    margin: auto;
    padding: 20px 0;
    width: 70%;

    h1 {
        padding: 0.5em 0;
        font-size: 25pt;
        font-weight: 100;
    }

    h2 {
        padding: 0.7em 0 0.5em;
        font-size: 20pt;
        font-weight: 700;
    }

    h3 {
        padding: 0.7em 0 0.5em;
        font-size: 20pt;
        font-weight: 100;
    }

    h4 {
        padding: 0.7em 0 0.5em;
        font-size: 17pt;
        font-weight: 700;
    }

    h5 {
        padding: 0.7em 0 0.5em;
        font-size: 17pt;
        font-weight: 100;
    }

    h6 {
        padding: 0.7em 0 0.5em;
        font-size: 13pt;
        font-weight: 700;
    }

    p {
        padding: 0.3em 0;
        color: lighten($main-color, 15%);
        font-size: 13pt;
        font-weight: 100;
    }

    code {
        color: darken($alt-color, 10%);
        background-color: darken($background-color, 10%);
        font-size: 11pt;
        border-radius: 1pt;
    }

    pre {
        margin: 1em;
        background-color: darken($background-color, 10%);
        font-size: 11pt;
        padding: 1.5pt 7pt;
        border-radius: 1pt;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
