@mixin background-color-transition() {
    -moz-transition:background-color .1s ease-in-out;
    -o-transition:background-color .1s ease-in-out;
    -webkit-transition:background-color .1s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    color: $main-color;
    background-color: $background-color;
    font-family: $main-font;
}

body {
    border-top: 10px solid lighten($main-color, 15%);
    border-bottom: 15px solid lighten($main-color, 15%);
}